.container {

    width: 100%;
    height: 100%;
    padding: 3rem;
    display: flex;
    flex-direction: column;

    .tittle {
        width: 100%;
        border-bottom: solid 1.7px #d3d0d0;

        h3 {
            font-size: 35px;
        }
    }

    .technologiesContainer{
        width: 100%;
        gap: 2rem;
        display: flex ;
        flex-wrap: wrap;
        padding: 3rem;


        .skill{
            margin: auto;
            width: 15rem;
            display: flex;
            padding: 1rem;
            align-items: center;
            height: 3rem;
            gap: 1rem;
            background-color: #f3f2f2;
            border-radius: 0.3rem;
        }
    }
}