* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;

  
}

:root {
    --color-primary: #000;
    --color-secondary: #fff;
    --color-terceary: #2b6eff;
    --color-container:#9e9e9eac;
    --background-color: var(--color-secondary);
    --text-color: var(--color-primary);
    --h2-color: var(--color-secondary);
}

.dark-theme {
    --background-color: #121212;
    --text-color: var(--color-secondary);
   --container-color:var(--color-container);
}


body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;

    h1, h2, p {
        color: var(--text-color); 
    }
    
    .dark-theme h1, .dark-theme h2, .dark-theme p {
        color: var(--text-color); 
    }

    nav{
        .link{
            color: var(--text-color);

        }
    }
}



main {
    flex-grow: 1;
}
