* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

:root {
    --color-primary: #000;        
    --color-secondary: #fff;     
    --color-terceary: #2b6eff;   
    --background-color: var(--color-secondary); 
    --text-color: var(--color-primary); 
}

.dark-theme {
    --background-color: #121212; 
    --text-color: var(--color-secondary); 
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s; /* Transición suave */
}

main {
    flex-grow: 1; 
}

