@import "../../styles/variables.scss";

.container{

    footer{
        position: fixed;
        right: 0; 
        top: 50%;
        transform: translateY(-50%); 
        display: flex;
        flex-direction: column;
        padding: 1rem;
        gap: 1rem;
    };

    .link{
        text-decoration: none;
        color: var(--text-color);
    }
}